<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
    <div class="side-bar-top">
    </div>
    <div class="side-bar-main">
    </div>
  </div>
  <div class="main-chat">
    <%= render "main_chat" %>
    <div class="main-chat-top">
    </div>
    <div class="main-chat-middle">
    </div>
    <div class="main-chat-bottom">
    </div>
  </div>
</div>
